.sidebar{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 2rem;
  gap: 1rem;
}

.categoryItem{
  border: 2px solid white;
  width: 3rem;
  height: 3rem;
  text-align: center;
}